{% extends "main.html" %}
{% load static %}


{% block content %}
<main class="container mx-auto p-6">
    <h1 class="text-3xl font-bold mb-6">Dashboard</h1>

    <div class="bg-white p-4 mb-6 rounded-lg shadow">
        <h2 class="text-xl font-semibold">CGPA: {{ aggregate_result.cgpa }}</h2>
    </div>

    <div class="bg-white shadow-md rounded-lg overflow-hidden">
        <table class="min-w-full bg-white">
            <thead>
                <tr>
                    <th class="py-2 px-4 bg-gray-200">Semester</th>
                    <th class="py-2 px-4 bg-gray-200">Subject name</th>
                    <th class="py-2 px-4 bg-gray-200">Credit</th>
                    <th class="py-2 px-4 bg-gray-200">Grade</th>
                    <th class="py-2 px-4 bg-gray-200">SGPA</th>
                    <th class="py-2 px-4 bg-gray-200">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for semester in semester_data %}
                <tr>
                    <td class="py-2 px-4 border-b align-top">{{ semester.semester_name }}</td>
                    <td class="py-2 px-4 border-b">
                        <ul>
                            {% for subject in semester.subjects %}
                            <li class="mb-2">
                                <strong>{{ subject.name }}</strong>
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="py-2 px-4 border-b">
                        <ul>
                            {% for subject in semester.subjects %}
                            <li class="mb-2">
                               {{ subject.credit }}
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="py-2 px-4 border-b">
                        <ul>
                            {% for subject in semester.subjects %}
                            <li class="mb-2">
                                {{ subject.grade }}
                            </li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td class="py-2 px-4 border-b align-top">{{ semester.sgpa }}</td>
                    <td class="py-2 px-4 border-b align-top">
                        <a href="{% url 'add_subject_grade' semester.id %}" class="ml-4 bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-600">Add Subject</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <button class="mt-6 bg-teal-500 text-white px-4 py-2 rounded hover:bg-teal-600" data-modal-toggle="add-semester-modal">Add New Semester</button>

    <!-- popup addsemester -->
<div id="add-semester-modal" tabindex="-1" class="hidden fixed inset-0  bg-opacity-50 flex items-center justify-center">
    <div class="relative p-4 w-full max-w-lg h-full md:h-auto">

        <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 md:p-8">
            <div class="mb-4 text-sm font-light text-gray-500 dark:text-gray-400">
                <h3 class="mb-3 text-2xl font-bold text-center text-gray-900 dark:text-white">Add New Semester</h3>
                <p class="text-centre">
                    Please fill out the form below to add a new semester. Make sure to provide a unique name for each semester.
                </p>
            </div>
            <form method="post" action="{% url 'add_semester' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="justify-between items-center pt-4 space-y-4 sm:flex sm:space-y-0">
                    <button type="button" class="py-2 px-4 w-full text-sm font-medium text-gray-500 bg-white rounded-lg border border-gray-200 sm:w-auto hover:bg-red-800 hover:text-white focus:ring-4 focus:outline-none focus:ring-primary-300 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-red-800 dark:focus:ring-gray-600" data-modal-hide="add-semester-modal">Cancel</button>
                    <button type="submit" class="py-2 px-4 w-full text-sm font-medium text-center text-white rounded-lg bg-teal-700 sm:w-auto hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-blue-800">Add Semester</button>
                </div>
            </form>
        </div>
    </div>
</div>
</main>



{% endblock content %}