{% extends "main.html" %}

{% block content %}

 <Section class="container mx-auto p-6">
    <div class="bg-white rounded-lg shadow-lg p-8">
        <h1 class="text-3xl font-bold mb-6">Terms and Conditions</h1>

        <div class="mb-4">
            <h2 class="text-xl font-semibold">1. Acceptance of Terms</h2>
            <p class="text-gray-700">
                By accessing or using our CGPA website, you agree to comply with and be bound by these Terms and Conditions. Please read these terms carefully before using the site. If you do not agree with any part of these terms, you should refrain from using our website.
            </p>
        </div>

        <div class="mb-4">
            <h2 class="text-xl font-semibold">2. Modification of Terms</h2>
            <p class="text-gray-700">
                We reserve the right to modify or update these Terms at any time without prior notice. Your continued use of the website following any changes signifies your acceptance of the revised terms.
            </p>
        </div>

        <div class="mb-4">
            <h2 class="text-xl font-semibold">3. Use of Website</h2>
            <p class="text-gray-700">
                Our CGPA website is designed for personal, educational, and informational use only. Unauthorized use of the site, including but not limited to misuse of data, is strictly prohibited.
            </p>
        </div>

        <div class="mb-4">
            <h2 class="text-xl font-semibold">4. Intellectual Property</h2>
            <p class="text-gray-700">
                All content on this site, including text, graphics, logos, and software, is the property of our website or its content suppliers and is protected by applicable intellectual property laws. Unauthorized reproduction, modification, or distribution of site materials is prohibited.
            </p>
        </div>

        <div class="mb-4">
            <h2 class="text-xl font-semibold">5. Limitation of Liability</h2>
            <p class="text-gray-700">
                We strive to provide accurate information on CGPA calculation and related educational resources. However, we do not warrant the completeness, accuracy, or reliability of this information. Users are solely responsible for verifying the correctness of data and calculations.
            </p>
        </div>

        <div class="mb-4">
            <h2 class="text-xl font-semibold">6. Termination of Access</h2>
            <p class="text-gray-700">
                We reserve the right to suspend or terminate your access to the site if you violate these Terms or engage in unauthorized or harmful activities.
            </p>
        </div>

        <div class="mb-4">
            <h2 class="text-xl font-semibold">7. Governing Law</h2>
            <p class="text-gray-700">
                These Terms shall be governed by and construed in accordance with the laws of Nepal.
            </p>
        </div>
    </div>
</section>


{% endblock content %}